:root {
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: snow;
  font-size: 1.6rem;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

@keyframes lighting {
  0% {
    color: snow;
    text-shadow: 0px 0px 40px rgb(255, 111, 36);
  }
  30% {
    color: rgb(255, 111, 36);
    text-shadow: none;
  }
}
#section_main span:nth-of-type(1) {
  animation-delay: 0.1s;
}

#section_main span:nth-of-type(2) {
  animation-delay: 0.2s;
}

#section_main span:nth-of-type(3) {
  animation-delay: 0.3s;
}

#section_main span:nth-of-type(4) {
  animation-delay: 0.4s;
}

#section_main span:nth-of-type(5) {
  animation-delay: 0.5s;
}

#section_main span:nth-of-type(6) {
  animation-delay: 0.6s;
}

#section_main span:nth-of-type(7) {
  animation-delay: 0.7s;
}

#section_main span:nth-of-type(8) {
  animation-delay: 0.8s;
}

#section_main span:nth-of-type(9) {
  animation-delay: 0.9s;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(46, 46, 46);
}

header {
  display: flex;
  background-color: rgb(34, 33, 33);
  position: fixed;
  height: 8vh;
  top: 0;
  right: 0;
  left: 0;
}
header nav {
  width: 100%;
}
header nav ul {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-end;
}
header nav ul a {
  margin: 0 2vw 0 2vw;
}
header nav ul a:nth-of-type(1) {
  margin-right: auto;
  margin-left: 20vw;
}
header nav ul a:nth-of-type(1) img {
  width: 50px;
  margin-right: -15px;
}
header nav ul a li {
  padding: 0.5rem;
  font-size: 2rem;
  color: rgb(255, 111, 36);
  font-family: "Zen Kurenaido", sans-serif;
}
header nav ul a::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: snow;
  display: block;
  border-radius: 2px;
  position: relative;
  left: 50%;
  transition: 0.4s ease;
}
header nav ul a:hover::after {
  width: 80%;
  left: 10%;
}
header nav ul a:hover li {
  color: snow;
}
header nav ul a:hover li span {
  text-transform: none;
}

main {
  padding-left: 20vw;
  padding-right: 20vw;
}
main section {
  padding-top: 10vh;
  height: 100vh;
}
main section h2 {
  color: rgb(255, 111, 36);
  font-family: "Zen Kurenaido", sans-serif;
  margin: 2rem 0;
  font-size: 3rem;
}

#section_main {
  display: flex;
  justify-content: center;
  align-items: center;
}
#section_main h1 {
  color: rgb(255, 111, 36);
  font-size: 5rem;
  font-family: "Zen Kurenaido", sans-serif;
}
#section_main h1 i {
  color: rgb(255, 111, 36);
  font-size: 5rem;
}
#section_main span {
  font-size: 5rem;
  animation: lighting 1s ease-in-out infinite;
  color: rgb(255, 111, 36);
  font-family: "Zen Kurenaido", sans-serif;
}

#skills_container {
  display: grid;
  grid-template: auto 1fr/repeat(5, 1fr);
}
#skills_container .skills_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#skills_container .skills_icon i {
  color: rgb(255, 111, 36);
  margin: 70px 0 20px 0;
  font-size: 8rem;
  transition: 5ms;
}
#skills_container .skills_icon i:hover {
  color: snow;
  cursor: pointer;
  transition: 5ms;
}
#skills_container .skills_icon p {
  color: snow;
}

#section_contact {
  height: 90vh;
}
#section_contact div div {
  display: flex;
}
#section_contact div div .contact_form {
  display: flex;
  flex-direction: column;
}
#section_contact div div .contact_form form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#section_contact div div .contact_form form input, #section_contact div div .contact_form form textarea {
  border-radius: 5px;
  background-color: rgb(46, 46, 46);
  border: none;
  outline: none;
  border: 1px solid rgb(255, 111, 36);
}
#section_contact div div .contact_form form textarea {
  resize: none;
}
#section_contact div div .contact_form form button {
  background-color: white;
  border: none;
  font-weight: bold;
  padding: 0.5rem 2rem;
  color: rgb(46, 46, 46);
  border-radius: 5px;
  transition: 5ms;
}
#section_contact div div .contact_form form button:hover {
  transition: 5ms;
  background-color: rgb(255, 111, 36);
  color: snow;
  cursor: pointer;
}
#section_contact div div .contact_form form button:hover::after {
  margin-left: 5px;
  content: "\f1d8";
  font-family: "FontAwesome";
}
#section_contact div div .socials {
  border-left: 1px solid snow;
  padding-left: 2vw;
  margin-left: 5vw;
  display: flex;
  flex-direction: column;
}
#section_contact div div .socials p {
  height: 10%;
}
#section_contact div div .socials div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  height: 90%;
}
#section_contact div div .socials div a i {
  font-size: 4rem;
  transition: 0.3s;
}
#section_contact div div .socials div a:hover i {
  color: rgb(255, 111, 36);
  transform: scale(1.4);
  transition: 0.3s;
}

footer {
  background-color: rgb(255, 111, 36);
  margin-top: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
}
footer p {
  color: snow;
}

/*# sourceMappingURL=main.css.map */
